.blockPage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: justify;
    margin-top: 10%;

    max-width: 100%;
    overflow-x: hidden;
    
    &__body {
      height: 100%;
      display: grid;
      grid-template-rows: repeat(5, auto);
      margin: 0 auto;
      margin-bottom: 60px;
      text-align: justify;
  
      width: 370px;
      margin-top: 20px;
  
      /* grid-template-rows: 1fr, repeat(3, 1fr); */
      /* display: flex;
      flex-flow: column nowrap;
      align-items: center; */
    }
  
  }
.title{
  letter-spacing: 0.8px;
}
.padlock{
  text-align: center;
}

.footer{
 
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileHub{
  margin-Top:10%;
  font-family: Avenir;
  padding: 0px;
  //justify-content: space-between;
  display: flex;
  align-items: center;
}