
$white: #FCF3F8;
$white1: white;
$light-gray: #E9E9E9;
$light-gray2: #E4E4E4;
$medium-gray: #818181;
$dark-gray: rgba(126, 126, 126, 1);
$dark-gray2: #8B8B8B;
$dark-gray3: #ABABAB;
$dark-gray4: #B0B0B0;
$blue-light: #D4E6FF;
$black: black;
$link: #0874FA;

$danger: red;

//icon
$icon-success: #6AC47B;

//learn line
$line: #C5D2D2;

$triangle: #E0FEC4;

// new colors
$dark-blue: #071939;
$dark-blue-button: #11274E;
$light-grey: #D6D3CA;
$light-grey-button-section: #DCDCDC;

$input-text-color: #3F3D56;
// $input-text-color: #ABABAB;